.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 3vh; }
  .header .logo-container {
    display: flex; }
    .header .logo-container .logo {
      position: relative;
      width: 3.5vw;
      min-width: 30px; }
      .header .logo-container .logo img {
        width: 100%;
        position: absolute;
        left: 0;
        top: -5px; }
    .header .logo-container h2 {
      font-family: 'Open Sans',sans-serif;
      margin: 0;
      padding-left: .7vw; }
  .header nav {
    width: 12.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw; }
  .header pre {
    font-family: Helvetica, sans-serif;
    text-align: left; }
  .header a {
    width: 40%; }
