@import '../../css/_vars.scss';

.flat-info {
    display: flex;
    flex-direction: column;
    font-family: $font-family-flatPage;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    li, li > span,  .align-left{
        text-align: left;  
    }
    li {
        // text-align: left;
        // display: flex;
        // justify-content: flex-start;
        .fa {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // padding-right: 1vw;
        }
        span{
            // text-align: left;
        }
    }
    .flat-desc {
        text-align: left;
        margin: 0 auto;
        padding: 2vh 6vw;
        box-shadow: 0 3px 2px -2px $secondary-color;
        padding-top: 1.5vh;
    }
    
    .flat-img {
        margin-top: 4vh;
        width: 80vw;
        height: 70vh;
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
    }
    
    ul {
        list-style: none;
        width: 30%
    }
    
    .amenities, .flat-prices {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;

        h1 {
            padding-left: .6vw;
            width: 30%;
        }
    }
    .flat-prices {
        height: 10vh;
    }

    hr {
        background: $secondary-color;
        border: .8px solid $secondary-color;
        opacity: .45;
        margin-bottom: 0;
    }
    .listing {
        box-shadow: 0 -3px 2px -2px $secondary-color;
        margin-top: 2vh;
        padding-top: 1.5vh;
    }

    .flat-prices {
        // span {
        //     padding-left: .4vw;
        //     font-weight: 700
        // }
    }
}