.modal .modal-card {
  margin: 30vh; }
  .modal .modal-card .modal-card-body {
    text-align: left; }
  .modal .modal-card .modal-card-head p {
    column-count: 0;
    column-gap: 0px;
    column-rule: 0;
    text-align: justify; }
