.modal {
    .modal-card{
        margin: 30vh;
        .modal-card-body {
           text-align: left;
        }
        .modal-card-head{
            p {
                column-count: 0;
                column-gap: 0px;
                column-rule: 0;
                // -webkit-column-rule: 0px;
                text-align: justify;
            }
        }
    }
}