.message{
    width: 220px;
    margin: 1%;
}
.message img{
    height: 60%;
    width: 100%;
}

.message i{
        position: absolute;
        font-size: 2.5em; 
        color: #fd5c63;
}
.message:hover{
    opacity: .9;
    color: white;
}