@import '../../css/_vars.scss';

.footer {
    margin: 2vh 2vw;
    box-shadow: 0 -3px 2px -2px $secondary-color;
    padding: 0;
    background-color: rgb(209, 209, 209);
    font-size: 1.3em;

    .footer-txt {
        padding-top: 1vh;
    }
    a{
        color: inherit;
    }
    a:hover{
        color:$secondary-color;
    }
}