@import '../../css/_vars.scss';

.footer {
    margin: 2vh 2vw;
    box-shadow: 0 -3px 2px -2px $secondary-color;
    padding: 0;
    background-color: white;

    .footer-txt {
        padding-top: 1vh;
    }
}